:root {
  --base-color: white;
  --text-color: black;
  --border-color: black;
  --button-color: #b2fbf2;
  --sidebar-color: #D9D9D9;
  --message-border-color: white;

}

.dark-mode {
  --base-color: black;
  --text-color: #bdbdbd;
  --message-color: white;
  --border-color: white;
  --button-color: #075E54;
  --sidebar-color: #121212;
  --chat-box-color: #222222;
  --resource-section-color: #222222;
  --form-background-color: #6b6a6a;

  h2 {
    color: var(--text-color);
  }

  h4 {
    color: var(--text-color);
  }

  h6 {
    color: var(--text-color);
  }

  p {
    color: var(--text-color);
  }

  .chat-box {
    background-color: var(--chat-box-color);
  }

  .resource-section {
    background-color: var(--resource-section-color);
  }

  #bottom-send-tools {
    background-color: var(--chat-box-color);
  }

  .form-control {
    background-color: var(--form-background-color);
  }

  .form-control:focus {
    background-color: var(--form-background-color);
    color: var(--text-color);
  }

  .form-control::placeholder {
    color: var(--text-color);
  }

  .bot-message {
    background-color: #3c3b3b;
    color: var(--message-color);
    border: 1px solid var(--border-color);
  }

  .user-message {
    color: var(--message-color);
    border: 1px solid var(--border-color);
  }

  .btn-send-message {
    color: var(--message-color);
  }

  #info-message {
    color: var(--text-color);
  }

  #profile-icon {
    color: var(--text-color);
  }

  .btn-select-files {
    color: var(--text-color);
  }

  .file-item {
    color: var(--text-color);
  }

  #cloud-icon {
    color: var(--text-color);
  }

  #btn-domain-number:hover {
    background-color: var(--border-color);
  }

  .btn-custom {
    color: var(--text-color);
  }

  #sidebar-seperator {
    background-color: var(--border-color);
    border-top: 2px solid var(--border-color);
  }
}

body {
  height: 100vh;
  overflow: visible;
  font-family: 'Dai Banna SIL', sans-serif;
}


/* Sidebar styling start point*/

.container-fluid {
  padding-right: 0 !important;
}

.sidebar {
  width: 245px;
  background-color: var(--sidebar-color);
  padding: 15px;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
}

.resource-section {
  max-width: 50%;
  /* Adjust as needed */
  overflow-y: auto;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
}

.btn-custom {
  position: relative;
  bottom: 5%;
}

.ragchat-text {
  margin-left: 1.3%;
}


.domain-file-list {
  align-items: center;
  margin-bottom: 50px;
  max-width: 100%;
}

.file-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.file-item input {
  margin-right: 10px;
}

.selection-section {
  padding-top: 5%;
  text-align: center;
  position: relative;
  bottom: 6%;
}

.selection-section .fa-cloud-upload-alt {
  font-size: 40px;
  margin-bottom: 10px;
}

#domain-hr {
  border-top: 2px solid var(--border-color);
  opacity: 100%;
  box-shadow: 1px 1px 1px var(--border-color);
  position: relative;
  bottom: 0.5%;
}

#second-hr {
  border-top: 1px solid var(--border-color);
  opacity: 100%;
  box-shadow: 1px 1px 1px var(--border-color);
  position: relative;
}

#upload-hr {
  border-top: 2px solid var(--border-color);
  opacity: 100%;
  box-shadow: 1px 1px 1px var(--border-color);
  position: relative;
}

#sidebar-seperator {
  width: 0.5px;
  height: 100%;
  background-color: var(--border-color);
  opacity: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.chat-resource-section-divider {
  position: absolute;
  width: 0.5px;
  height: 100%;
  background-color: var(--border-color);
  border-top: 2px solid var(--border-color);
  opacity: 100%;
  margin-top: 0;
}

#btn-remove-upload {
  position: relative;
  bottom: 2%;
  border: 1px solid var(--border-color);
  color: var(--border-color);
}

#btn-domain-number {
  background-color: transparent;
  border: 2px solid var(--border-color);
  font-size: 30px;
  margin: auto;
  position: relative;
  margin-bottom: 10%;
}

#btn-domain-number:hover {
  background-color: var(--border-color);
  color: white;
}

#domain-number {
  position: relative;
  -webkit-transform: translate(10%, -25%);
  transform: translate(10%, -25%);
  right: 20%;
}

.section-selected-files {
  position: relative;
  bottom: 3%;
  margin-top: -10px;
  height: 20%;
  /* Selected Files Kutusunun Yüksekliği */
  overflow-y: auto;
}

.selected-file-list {
  align-items: center;
  margin-bottom: 8px;
}

#text-selected-files {
  position: relative;
  bottom: 2.5%;
}

#second-hr {
  position: relative;
  bottom: 4.1%;
}

#third-hr {
  border-top: 1px solid var(--border-color);
  opacity: 100%;
  box-shadow: 1px 1px 1px var(--border-color);
  margin-top: 20%;
  position: relative;
  bottom: 5%;
}

.domain-info {
  position: relative;
  bottom: 2%;
}

#domain-info-hr {
  border-top: 1px solid var(--border-color);
  opacity: 100%;
  box-shadow: 1px 1px 1px var(--border-color);
  margin-bottom: 3%;
  position: relative;
  bottom: 3.5%;
}

#btn-select-file {
  background-color: var(--border-color);
  color: white;
  border: 2px solid var(--border-color);
  position: relative;
  bottom: 5%;
}

#btn-remove,
#btn-add {
  width: 50%;
  position: relative;
  margin-bottom: 10%;
}

#button-container {
  position: relative;
  bottom: 2%;
}

#info-message {
  position: relative;
  bottom: 6.5%;
}

.domain-info p {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.empty-message {
  color: #888;
  text-align: center;
  margin-top: 5%;
}


/* Header styling for chat and resources */
.colored-div-chat,
.colored-div-resources {
  background-color: var(--sidebar-color);
  /* Set background color */
  padding: 20px;
  /* Increased padding for more space inside the header */
  width: 100%;
  /* Make the header take the full width */
  height: 80px;
  /* Fixed height for the header */
  display: flex;
  /* Use flex to center content */
  align-items: center;
  /* Center items vertically */
}

.colored-div-resources {
  justify-content: center;
}

/* Optional: Center text inside headers */
.profile-icon-div {
  position: relative;
  left: 80%;
  font-size: 35px;
}

/* Chat section adjustments */
.chat-section {
  margin-left: 234.4px;
  /* Adjust for sidebar width and padding */
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info-section, .explain-section {
  display: flex;
  align-items: flex-start;
  line-height: 1.5;
}

.info-section i, .explain-section i {
  flex-shrink: 0;
  margin-top: 4px;
}

.info-section span, .explain-section span {
  flex-grow: 1;
}

.message-section {
  display: flex;
  align-items: flex-start;
  line-height: 1.5;
}

.message-section i {
  flex-shrink: 0;
  margin-top: 4px;
}

.message-section span {
  flex-grow: 1;
}

.message-section img {
  flex-shrink: 0;
  object-fit: contain;
}

/* General chat box styling */
.chat-box {
  width: 100%;
  max-height: 100%;
  /* Adjust height as needed */
  overflow-y: auto;
  /* Makes the chat-box scrollable */
  padding: 10px;
  padding-bottom: 70px;
  /* Add padding to prevent overlap with the input box */
  display: flex;
  flex-direction: column;
}

/* Message box styling */
.message {
  padding: 1%;
  margin-bottom: 3%;
  border-radius: 10px;
  max-width: 80%;
  /* Limit the width of messages */
  word-wrap: break-word;
  /* Wrap long words */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-left: 2%;
}

#btn-upload-files {
  border: 1px solid var(--border-color);
  color: var(--border-color);
}

#btn-remove-selection {
  border: 1px solid var(--border-color);
  color: var(--border-color);
}

.user-message {
  background-color: var(--button-color);
  /* Light green for user messages */
  margin-right: 2%;
  align-self: flex-end;
  /* Aligns to the right */
  border: 1px solid var(--message-border-color);
}

.bot-message {
  align-self: flex-start;
  /* Aligns to the left */
  border: 1px solid var(--message-border-color);
}

/* Scrollbar styling (optional, to make it look better) */
.chat-box::-webkit-scrollbar,
.resource-list::-webkit-scrollbar,
.section-selected-files::-webkit-scrollbar,
.section-domain-files::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-thumb,
.resource-list::-webkit-scrollbar-thumb,
.section-selected-files::-webkit-scrollbar-thumb,
.section-domain-files::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  transition: background-color 0.3s ease, height 0.3s ease;
  /* Animasyon ekledik */
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.section-domain-files {
  position: relative;
  /* Eğer elementin hareketini sağlamıyorsa, 'sticky' veya 'absolute' ile deneyebilirsiniz */
  bottom: 2.2%;
  margin-top: -10px;
  height: 22%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* Scroll hareketi animasyonlu olur */
}

#send-message-box {
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  background-color: var(--base-color);
  border: none;
  border-radius: 10px;
  flex-grow: 1;
  /* Makes input box take available space */
  margin-right: 10px;
  /* Adds spacing between input and send button */
}

.btn-send-message {
  border-radius: 10px;
  background-color: var(--button-color);
  border: none;
  padding: 8px 15px;
  /* Adjust for desired button size */
}

.custom-file-container {
  position: relative;
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  bottom: 0.5vw;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.btn-custom {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
}

#bottom-send-tools {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-top: 1px solid #ddd;
  /* Optional: adds a divider line */
  z-index: 10;
}

#section-divider {
  width: 2px;
  height: 100%;
  background-color: var(--border-color);
  border-top: 2px solid var(--border-color);
  opacity: 100%;
  box-shadow: 1px 1px 1px var(--border-color);
  position: absolute;
  top: 0;
}

#vertical-line {
  width: 2px;
  height: 100%;
  background-color: var(--border-color);
  border-top: 2px solid var(--border-color);
  opacity: 100%;
  box-shadow: 1px 1px 1px var(--border-color);
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Resource section styling start point */
.resource-section {
  max-width: 100%;
  max-height: 100%;
  /* Adjust height as needed */
  overflow-x: hidden;
}

.resource-list {
  max-height: 100%;
  /* Adjust height as needed */
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 70px;
  /* Add padding to prevent overlap with the input box */
  display: flex;
  flex-direction: column;
}

.resource-item {
  margin-bottom: 1rem;
  /* Space underneath each resource item */
  margin-left: 3%;
}

.resource-item strong {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.2rem;
  /* Large font size for resource heading */
}

.document-title {
  font-size: 1.2rem;
  /* Large, but not bold font for document title */
  font-weight: normal;
  /* Ensure document title is not bold */
}

.description {
  font-size: 1.1rem;
  /* Small font for descriptions */
  line-height: 1.5;
  /* Improve readability */
}

.bullet {
  font-weight: bold;
  /* Makes the bullet arrow bold */
  margin-right: 0.5rem;
  /* Space between the bullet and text */
}

#theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--sidebar-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px; /* Example height */
  padding-right: 20px;
}

#theme-switch svg {
  fill: var(--text-color);
}

#theme-switch svg:last-child {
  display: none;
}

.dark-mode #theme-switch svg:first-child {
  display: none;
}

.dark-mode #theme-switch svg:last-child {
  display: block;
}


/* Width Responsive Designs */

@media (min-width:1000px) and (max-width:1919px) {
  .chat-section {
    max-width: 10%;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .resource-section {
    max-width: 90%;
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .resource-list {
    max-height: 90%;
    /* Adjust height as needed */
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 70px;
    /* Add padding to prevent overlap with the input box */
    display: flex;
    flex-direction: column;
  }
}

/* Height Responsive Design For Sidebar */

@media (min-height:700px) and (max-height:800px) {
  .section-domain-files {
    height: 12%;
  }

  .section-selected-files {
    height: 12%;
  }

  .selection-section {
    position: relative;
    bottom: 8%;
  }
}

@media (min-height:801px) and (max-height:900px) {
  .section-domain-files {
    height: 15%;
  }

  .section-selected-files {
    height: 15%;
  }

  .selection-section {
    position: relative;
    bottom: 5%;
  }
}