body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: hsla(0, 0%, 14%, 1);

background: radial-gradient(circle, hsla(0, 0%, 14%, 1) 0%, hsla(0, 4%, 11%, 1) 0%, hsla(0, 3%, 8%, 1) 0%, hsla(0, 0%, 9%, 1) 30%, hsla(0, 0%, 0%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(0, 0%, 14%, 1) 0%, hsla(0, 4%, 11%, 1) 0%, hsla(0, 3%, 8%, 1) 0%, hsla(0, 0%, 9%, 1) 30%, hsla(0, 0%, 0%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(0, 0%, 14%, 1) 0%, hsla(0, 4%, 11%, 1) 0%, hsla(0, 3%, 8%, 1) 0%, hsla(0, 0%, 9%, 1) 30%, hsla(0, 0%, 0%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#232323", endColorstr="#1D1B1B", GradientType=1 );
    height: 100vh;
    color: white;
}
section {
    height: 100vh;
    /* Her bölüm tam ekran yüksekliğinde */
    padding: 20px;
}
/*   Beginning of Section 1 */

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 150%;
}

.description {
    font-size: 30px;
}
.middle-section {
    height: 70%;
}
.brand-name {
    position: relative;
    left: 6%;
}
.btn-primary {
    background-color: #007AEA;
    border-radius: 15px;
    width: 10%;
    font-size: 18px;
}
.text-get-started {
    margin-bottom: 0;
    margin-right: 0;
}

.continue {
    font-size: 25px;
    color: white;
    position: relative;
    top: 25%;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
}

.continue:hover {
    color: #007AEA; /* Change color on hover */
}

.continue i {
    margin-left: 10px; /* Space for icon */
}


.sign-up-btn {
    background-color: white;
    border-radius: 25px;
    font-weight: 400;
    padding: 10px 20px; /* Adjust padding to increase size */
    font-size: 1.2rem; /* Match with Log in */
}

.navbar a {
    text-decoration: none; /* Remove underline from all navbar links */
}

.social-icons a {
    color: white;
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fff;
}
.navbar-links {
    font-size: 1.5rem;
    position: relative;
    font-weight: 200;
    padding:3%;
    gap: 30px;
}
login-btn:hover {
    text-decoration: underline;
}

/* End of Section 1 */


/* Beginning of Section 2-3 */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: white;
    height: 100vh;
}

.section-wrapper {
    height: 50vh;
    display: flex;
    align-items: center;
}
.section-wrapper h2 {
    font-size: 45px;
    font-weight: 600;
    padding: 3% 0px 0px 0px;
}
.section-wrapper p {
    font-size: 25px;
    font-weight: 100;
    padding: 1.5% 0px 3% 0px;
    width: 80%;
}
.line {
    height: 2px;
    background-color: white;
    width: 100%;
    margin: 20px 0;
}

.text-wrapper {
    width: 72%;
}
.text-wrapper2 {
    width: 72%;
    float: right;
}
.left-align {
    text-align: left;
    margin-left: 5%; /* Sola yakınlaştırma */
}
.right-align {
    text-align: left;
}
.right-align-wrapper {
    display: flex;
    justify-content: flex-end; /* İkinci section sağa hizalanacak */
    margin-right: 5%;
}

/* End of Section 2-3 */

/* Beginning of Section 4 */

.text-warning {
    font-size: 60px;
    margin-top: 5%;
    padding: 0px 0px 0px 4%;
}
.card {
    background-color: #363333;
    border-radius: 20px;

    margin-top: 5%;
    width: 530px;
    height: 645px;
}
.card h5 {
    margin-top: 5%;
    font-size: 45px;
}
.card hr {
    width: 70%;
    margin-left: 16%;
    border:1px solid white;
    
}
.card .card-text {
    font-size: 23px;
    text-align: left;
    width: 80%;
    align-items: center;
    margin-left: 10%;
}