<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ragchat Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">

    
</head>
<body>
    <!-- Landing Screen -->
     <section id = "section1">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="brand-name"><a class="navbar-brand text-white" href="#">ragchat</a></div>
                <div class="d-flex align-items-center navbar-links">
                        <a href="log_in.html" class="text-white mx-3 login-btn">Log in</a>
                        <a href="sign_up.html" class="btn sign-up-btn">Sign Up</a>
                    <div class="social-icons d-flex align-items-center ms-3">
                        <a href="#" class="me-"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class = "me-4"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    
        <!-- Main Content -->
        <div class="d-flex flex-column justify-content-center align-items-center text-center middle-section">
            <h1>Talk With Your Own Documents <br> With  Our Document Reader</h1>
            <p class="description mt-3">You can talk and get the information you want <br> at the speed of light and effortlessly
            </p>
            <a href="log_in.html" class="btn btn-primary mt-4"><p class = "text-get-started">Get Started</p></a>
            <a href="javascript:void(0);" class="continue mt-5" onclick="scrollDown()">Continue<i class="fa-solid fa-caret-down"></i></a>
        </div>
     </section>
     <section id = "section2">
        <div class="container-fluid">
            <!-- First Section -->
            <div class="section-wrapper">
                <div class="text-wrapper left-align">
                    <div class="line"></div>
                    <h2>Create Your Own Information Source</h2>
                    <p>Organize and customize your knowledge base. Upload multiple documents and allow Ragchat to curate an intelligent repository of information at your fingertips.</p>
                    <div class="line"></div>
                </div>
            </div>
    
            <!-- Second Section -->
            <div class="section-wrapper right-align-wrapper">
                <div class="text-wrapper2 right-align">
                    <div class="line"></div>
                    <h2>Extract Your Information Quick and Effortless</h2>
                    <p>With Ragchat, finding what you need in complex documents is faster than ever. Say goodbye to manual searching—let AI pinpoint answers in seconds.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
     </section>
     <section id = "section3">
        <div class="container-fluid"></div>
            <!-- First Section -->
            <div class="section-wrapper">
                <div class="text-wrapper left-align">
                    <div class="line"></div>
                    <h2>Let Ragchat Validate Your Information</h2>
                    <p>Ensure accuracy and reliability by having Ragchat validate your findings directly from the source. Stay informed and confident with every search.</p>
                    <div class="line"></div>
                </div>
            </div>
    
            <!-- Second Section -->
            <div class="section-wrapper right-align-wrapper">
                <div class="text-wrapper2 right-align">
                    <div class="line"></div>
                    <h2>Let Ragchat Store and Track Your Information Sources</h2>
                    <p>Never lose track of your documents again. Ragchat securely stores and organizes all your sources foreasy access and future reference.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
     </section>
     <section id = "section4">
        <div class="container">
        <h1 class="heading">Our Users Love What We Do!</h1>
        <div class="row">
            <!-- Repeat this block for each card -->
            <div class="col-md-4 d-flex justify-content-center">
                <div class="review-card">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="description">Ragchat has transformed how I handle complex regulatory documents. Uploading entire manuals and having specific compliance information available within seconds has saved me countless hours.</p>
                    <div class="profile">
                        <img src="/static/images/omerburakgoktas.webp" alt="Profile Image">
                        <div class="details">
                            <p class="name">Ömer Burak Göktaş</p>
                            <p class="title">Regulations Expert</p>
                        </div>
                        <div class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="review-card">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="description">Ragchat has transformed how I handle complex regulatory documents. Uploading entire manuals and having specific compliance information available within seconds has saved me countless hours.</p>
                    <div class="profile">
                        <img src="/static/images/bariscangungor.webp" alt="Profile Image">
                        <div class="details">
                            <p class="name">Barışcan Güngör</p>
                            <p class="title">Advisor, Lecturer</p>
                        </div>
                        <div class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="review-card">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="description">Ragchat has transformed how I handle complex regulatory documents. Uploading entire manuals and having specific compliance information available within seconds has saved me countless hours.</p>
                    <div class="profile">
                        <img src="/static/images/johnbrown.webp" alt="Profile Image">
                        <div class="details">
                            <p class="name">John Brown</p>
                            <p class="title">Academic Researcher</p>
                        </div>
                        <div class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <!-- Same block for the bottom row -->
            <div class="col-md-4 d-flex justify-content-center">
                <div class="review-card">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="description">Ragchat has transformed how I handle complex regulatory documents. Uploading entire manuals and having specific compliance information available within seconds has saved me countless hours.</p>
                    <div class="profile">
                        <img src="/static/images/omerburakgoktas.webp" alt="Profile Image">
                        <div class="details">
                            <p class="name">Ömer Burak Göktaş</p>
                            <p class="title">Regulations Expert</p>
                        </div>
                        <div class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="review-card">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="description">Ragchat has transformed how I handle complex regulatory documents. Uploading entire manuals and having specific compliance information available within seconds has saved me countless hours.</p>
                    <div class="profile">
                        <img src="/static/images/bariscangungor.webp" alt="Profile Image">
                        <div class="details">
                            <p class="name">Barışcan Göngür</p>
                            <p class="title">Advisor, Lecturer</p>
                        </div>
                        <div class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="review-card">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="description">Ragchat has transformed how I handle complex regulatory documents. Uploading entire manuals and having specific compliance information available within seconds has saved me countless hours.</p>
                    <div class="profile">
                        <img src="/static/images/johnbrown.webp" alt="Profile Image">
                        <div class="details">
                            <p class="name">John Brown</p>
                            <p class="title">Academic Researcher</p>
                        </div>
                        <div class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
     </section>

    
    <script src = "/static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>